.navigation-link {
  display: inline-block;
  font-weight: 400;
  padding-left: 0px;
  padding: 10px;
  font-size: 60px;
  height: 20px;
  position:relative;
  overflow: visible;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  color: #676770;
}

.link-button {
  display:inherit;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
  border-radius: 4px;
  background-color: #2e80b6;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: white;
  font-size: 40px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.formBox{
  display: inline-block;
  width:150%;
  height: 1300px;
  margin-top: 0px;
  margin-bottom: 1px;
  padding: 40px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 3px 4px 16px -1px hsla(208.13397129186603, 12.15%, 50.91%, 1.00);
  text-align: center;
  background-clip: border-box;

}

.formWrapper{
  max-width:550px;
  z-index: auto;
  display: inline-block;
  float: none;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  text-align: center;
  margin:100px;
}

.form-field {
  width: 110%;
  height: 110px;
  font-size: 45px;
  margin-bottom: 35px;
  border-style:ridge;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 1px;
  padding-top:10px;
  padding-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
}

.section {
  position: relative;
  padding-top: 80px;
  padding-right: 10px;
  padding-bottom: 80px;
  padding-left: 10px;
  background-color: white;
  text-align: center;
}

.sectionHead {
  margin-top: 31px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.but{
  
  background-color: #c3f8c3; /* Green */
  border: 5px solid #050505; 
  color: rgb(14, 13, 13);
  border-radius: 10px;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
}

.courseCard{
  position: relative;
  min-height: 500px;
  width: 500px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 8px 0 #BEBEBE;
  transition: all 0.1s ease;
}
.courseCard:hover{
  box-shadow: 0 0 15px 0 #BEBEBE;
}
.courseCard .image{
  position:absolute;
  top: 0;
  left: 0;
  width: 350px;;
  height: 100px;
}
.wrapper{
  
  position: relative;
  align-items: center;
  margin-top: 40%;
  width: 100%;
  background: #fff;
  padding: 40px 40px;
  box-shadow: -1px -1px 6px rgba(0,0,0,0.1);
  transition: bottom 0.3s ease;
}

.wrapper #cTitle{
  font-size: 45px;
  font-weight: 600;
  color: #456ABD;
  letter-spacing: 1px;
}
.wrapper textarea{
  font-size: 35px;
  color: rgb(104, 107, 114);
  text-align: center;
  outline: none;
  overflow: hidden;
  padding-top: 7px;
}
.ctable{
  width: 80%;
  text-align: left;
  margin-left: 45px;
  margin-top:  8px;
  font-size: xx-large;
  color:rgba(90, 88, 88, 0.719);
}
.wrapper .btns{
  display: flex;
  height: 65px;
  width: 100%;
  padding-top: 18px;
  align-items: center;
  justify-content: center;
}
.wrapper .btns button{
  height: 30px;
  width: 30px;
  padding: 5px;
  margin: 0 10px;
  border: 2px solid #004d9109;
  background: #004d91a9;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 100%;
}
.wrapper .btns button:hover{
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  
  background: #004d91f8;
  border: 2px solid #004d91a8;
}





body{
  width: 100%;
  padding: 10px;
}

section{
  
  background-color:rgb(165, 124, 116);
  width: 45%;
  margin: 40px auto;
  border-radius: 4px;
  border: 5px solid white;
  
}

article div{
  padding: 20px;
}

article label{
  margin-left: 40px;
  color: rgb(0,0,22);
  font-size: 60px;
}

article input{
  width: 80%;
  min-height:100px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 40px;
  box-sizing:inherit;
  background: #d9e1e9;
  border: none;
  font-size:90px;
  border-bottom: 1px solid rgb(1,1,51);
}

::placeholder{
  color: rgb(92,140,180);
}
article h1{
  padding-top: 5px;
  font-size: 25px;
  text-align: center;
}
